.Note {
  background-color: white;
  color: black;
  max-width: 200px;
  word-wrap: break-word;
  border: 2px solid whitesmoke;
  margin: 10px;
  padding: 20px;
}

.Note-title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}

.Note-description {
  text-align: left;
}
